/* === Footer === */
        #footer {
                /* Layout */
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                z-index: var(--z-index-footer);
                bottom: 0px;
                width: 100%;
                height: var(--footer-height);
                padding-inline: var(--framing-space-inline);
                /* Formatierung */
                background: #111;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                text-align: center;
        }

        footer a,
        footer a:visited,
        footer a:hover,
        footer a:active,
        footer a:focus {
        font-size: 0.9rem;
        color: #fff;
        font-weight: 400;
        transition: opacity 0.3s ease;
        }
        
        footer p {
        font-size: 0.9rem;
        }

        footer a:hover {
        opacity: 0.7;
        }